{% extends 'base.html.twig' %}

{% block body %}
  <link rel="stylesheet" href="{{ asset('css/content.css') }}" />
  <!-- home section starts -->
  <section class="home" id="home" style="background-image: url(Image/home.jpg)">
    <div class="content">
      <h3>The Light SecondHand</h3>
      <span>Luxurious &amp; Elegant</span>
      <h4>The quality of our products and the customer experience are always our top priority.</h4>
      <a href="{{ path('shop') }}" class="btn btnhome">Shop now</a>
    </div>
  </section>
  <!-- home section ends -->

  <!-- about section starts -->
  <section class="about" id="about">
    <h1 class="heading">
      <span>About</span>
      us
    </h1>
    <div class="row">
      <div class="video-container">
        <video src="Image/about.mp4" loop autoplay muted></video>
        <h3 class="d-none d-md-block">The Light - SecondHand</h3>
      </div>
      <div class="content">
        <h3>Why choose us?</h3>
        <p></p>
        <p style="text-align:justify">The Light SecondHand is one of the largest and most prestigious 2hand stores in Cantho. At The light Store customers will be able to shop comfortably without worrying about price because we always put quality, and user experience first...</p>
        <a href="{{ path('about') }}" class="btn btnbase">Learn more</a>
      </div>
    </div>
  </section>
  <!-- about section ends -->

  <!-- icons section starts -->
  <section class="icons-container">
    <div class="icons">
      <img src="Image/icon-1.png" alt="" />
      <div class="info">
        <h3>Free delivery</h3>
        <span>In Cantho City</span>
      </div>
    </div>
    <div class="icons">
      <img src="Image/icon-2.png" alt="" />
      <div class="info">
        <h3>10 days returns</h3>
        <span>Moneyback guarantee</span>
      </div>
    </div>
    <div class="icons">
      <img src="Image/icon-3.png" alt="" />
      <div class="info">
        <h3>Offer &amp; Gifts</h3>
        <span>More than 5 orders in 1 month</span>
      </div>
    </div>
  </section>
  <!-- icons section ends -->

  <div class="mt-2">
    <h2><b>Top Brands</b></h2>
    <div class="row mt-50">
      {% for brand in brands %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 p-5 d-flex align-items-center justify-content-center">
          <a href="{{ path('shop', { bid: brand.id }) }}"><img class="img-fluid" src="{{ path('get_brand_photo', { filename: brand.image }) }}" alt="{{ brand.name }}" /></a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="mt-2">
    <h2><b>Top Best-selling</b></h2>
    <div class="d-flex justify-content-center mt-50">
      <div class="row">
        {% for product in products %}
          <div class="col-12 col-lg-4 col-xl-2 col-md-4 col-sm-6 mb-xl-4 mb-lg-4">
            <div class="product-grid">
              <div class="product-image">
                <a href="{{ path('view_detail_product', { id: product.id }) }}" class="image"><img class="img-1" src="{{ path('get_product_photo', { filename: product.image }) }}" /></a>
              </div>
              <div class="product-content">
                <div class="price">
                  <b>${{ product.price }}</b>
                </div>
                <h3 class="title"><a href="{{ path('view_detail_product', { id: product.id }) }}" class="text-decoration-none">{{ product.name }}</a></h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
