{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger mt-2" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1 class="text-center mt-3">Register</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<div class="text-center">
		<input class="btn btn-primary mb-3" type="submit" value="Register">
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
