{% extends 'base.html.twig' %}

{% block title %}Adding Brands
{% endblock %}

{% block body %}
	<div class="border pt-2 mb-2">
		<div class="px-5">
			<h1 class="text-center mb-4">Adding Brand</h2>
			{{ form_start(form_Brand) }}
			{{ form_row(form_Brand.name) }}
			{{ form_row(form_Brand.decrip) }}
			{{ form_row(form_Brand.image) }}
			<div class="text-center">
				{{ form_row(form_Brand.save) }}
			</div>
			{{ form_end(form_Brand) }}
		</div>
	</div>
{% endblock %}
