{% extends 'base.html.twig' %}

{% block title %}Change Password
{% endblock %}

{% block body %}
	<h1 class="text-center my-3">Change Password</h2>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-3 text-center">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger mt-3 text-center">
			{{ message }}
		</div>
	{% endfor %}
	<form method="post" action="/customer/changepassword" class="px-5">
		<div class="mb-3">
			<label for="txtOldPass" class="mb-2">Old password</label>
			<input type="password" name="txtOldPass" id="txtOldPass" class="form-control mb-4"/>
		</div>
		<div class="mb-3">
			<label for="txtNewPass" class="mb-2">New password</label>
			<input type="password" name="txtNewPass" id="txtNewPass" class="form-control mb-4"/>
		</div>
		<div class="mb-3">
			<label for="txtConfirmPass" class="mb-2">Confirm password</label>
			<input type="password" name="txtConfirmPass" id="txtConfirmPass" class="form-control mb-4"/>
		</div>
		<div class="text-center mb-3">
			<input class="btn btn-primary" type="submit" name="btnConfirm" value="Confirm">
		</div>
	</form>
	{# {{ form_start(change_password_form) }}
	<div class="mb-3">
		<label for="txtOldPass" class="mb-2">Old password</label>
		<input type="password" name="txtOldPass" id="txtOldPass" class="form-control mb-4"/>
	</div>
	{{ form_widget(change_password_form) }}
	<div class="text-center mb-3">
		<input class="btn btn-primary" type="submit" value="Confirm">
	</div>
	{{ form_end(change_password_form) }} #}
{% endblock %}
