{% extends 'base.html.twig' %}

{% block title %}Product Ordered
{% endblock %}

{% block body %}
	<div class="border my-2">
		<h1 class="text-center mb-4">Product Ordered</h1>
		<table id="tablecategory" class="table table-striped table-bordered m-0" cellspacing="0" width="100%">
			<thead>
				<tr class="text-center">
					<th>
						<strong>No.</strong>
					</th>
					<th>
						<strong>Order date</strong>
					</th>
					<th>
						<strong>Delivery date</strong>
					</th>
					<th>
						<strong>Delivery local</strong>
					</th>
					<th>
						<strong>Product</strong>
					</th>
					<th>
						<strong>Quantity</strong>
					</th>
				</tr>
			</thead>

			<tbody>
				{% set count = 1 %}
				{% for i, order in product_ordered %}
					<tr>
						<td class="text-center">{{ count }}</td>
						<td align='center'>{{ order.orderDate|date('Y-m-d H:i:s') }}</td>
						<td align='center'>{{ order.deliveryDate|date('Y-m-d H:i:s') }}</td>
						<td>{{ order.address }}</td>
						<td align='center'>
							<a href="{{ path('view_detail_product', { 'id': order.id }) }}">
								<img src='{{ path('get_product_photo', {'filename' : order.image} ) }}' border='0' width="100" height="100"/>
							</a>
						</td>
						<td align='center'>{{ order.quantity }}</td>
					</tr>
					{% set count = count + 1 %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
