{% extends 'base.html.twig' %}

{% block title %}
  Order Management
{% endblock %}

{% block body %}
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
    function is_leap_year($year) {
      return $year % 4 == 0 && ($year % 100 != 0 || $year % 400 == 0)
    }
    
    function formValid() {
      f = document.formOrder
      if (f.slYear.value == 0 && f.slMonth.value == 0 && f.slDay.value == 0) {
        alert('Invalid, please enter again')
        return false
      }
      if (is_leap_year(f.slYear.value) && f.slMonth.value == 2 && f.slDay.value > 29) {
        alert('Invalid, please enter again')
        return false
      }
      if (!is_leap_year(f.slYear.value) && f.slMonth.value == 2 && f.slDay.value > 28) {
        alert('Invalid, please enter again')
        return false
      }
      if ((f.slMonth.value == 4 || f.slMonth.value == 6 || f.slMonth.value == 9 || f.slMonth.value == 11) && f.slDay.value > 30) {
        alert('Invalid, please enter again')
        return false
      }
      return true
    }
  </script>
  <div class="border pt-2 mb-2">
    <h1 class="text-center mb-4">Order List</h1>
    <div class="text-center mb-2 d-flex row align-items-center">
      <script type="text/javascript">
        function sendData() {
          $.ajax({
            url: '/management/order/export',
            type: 'POST',
            success: function () {
              window.open('/management/order/export')
            }
          })
        }
      </script>
      {# {% set array = [] %}
      {% for order in orders %}
        {% set array = array|merge([order.orderDate|date('y-m-d H:i:s'), order.deliveryDate|date('y-m-d H:i:s'), order.custName, order.custPhone, order.deliveryLocal, order.totalPrice]) %}
      {% endfor %}
      <input type="hidden" id="array" value="{{ array|json_encode }}" />
      <script type="text/javascript">
        function sendData() {
          var orders = document.getElementById('array').value
          $.ajax({
            url: '/management/order/export',
            type: 'POST',
            dataType: 'json',
            contentType: 'json',
            data: { orders: JSON.stringify(orders) },
            success: function () {
              window.open('/management/order/export')
            }
          })
        }
      </script> #}
      <div class="col-6 text-start">
        <button class="btn btn-success" id="export" onclick="sendData()">Export</button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <form action="{{ path('show_all_order') }}" name="formOrder" method="POST" class="input-group w-auto" onsubmit="return formValid()">
          {# <input name="txtSearchBrand" type="search" class="form-control" placeholder="Search by name" aria-label="Search" aria-describedby="search-addon" /> #}
          <div class="input-group">
            <span class="col-md-3 pb-md-0 col-12 pb-2 p-0">
              <select name="slYear" id="slYear" class="form-control">
                <option value="0">Year</option>
                {% for i in 2000..2030 %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </span>
            <span class="col-md-3 py-md-0 col-12 py-2">
              <select name="slMonth" id="slMonth" class="form-control">
                <option value="0">Month</option>
                {% for i in 1..12 %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </span>
            <span class="col-md-3 pt-md-0 col-12 py-2">
              <select name="slDay" id="slDay" class="form-control">
                <option value="0">Day</option>
                {% for i in 1..31 %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </span>
            <span class="col-md-3 pt-md-0 col-12 pt-2"><button class="btn btn-secondary" type="submit" name="btnSearchOrder"><i class="bi bi-search"></i></button></span>
          </div>
        </form>
      </div>
    </div>
    <table id="tableorder" class="table table-striped table-bordered m-0" cellspacing="0" width="100%">
      <thead class="justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3">
        <tr class="text-center">
          <th>
            <strong>No.</strong>
          </th>
          <th>
            <strong>Order date</strong>
          </th>
          <th>
            <strong>Delivery date</strong>
          </th>
          <th>
            <strong>Customer Name</strong>
          </th>
          <th>
            <strong>Telephone</strong>
          </th>
          <th>
            <strong>Address</strong>
          </th>
          <th>
            <strong>Total Price</strong>
          </th>
          <th>
            <strong>Checked</strong>
          </th>
          <th>
            <strong>Delete</strong>
          </th>
        </tr>
      </thead>

      <tbody class="justify-content-md-between justify-content-sm-center border-bottom border-2 my-2 bg-light p-2 rounded-3">
        {% if orders %}
          {% set count = 1 %}
          {% for order in orders %}
            <tr>
              <td class="text-center">
                <a href="{{ path('order_detail', { id: order.id }) }}" class="text-decoration-none">{{ count }}</a>
              </td>
              <td class="text-center">{{ order.orderDate|date('y-m-d H:i:s') }}</td>
              <td class="text-center">{{ order.deliveryDate|date('y-m-d H:i:s') }}</td>
              <td class="text-center">{{ order.custName }}</td>
              <td class="text-center">{{ order.custPhone }}</td>
              <td>{{ order.deliveryLocal }}</td>
              <td class="text-center">${{ order.totalPrice }}</td>
              <td class="text-center">
                <form action="{{ path('show_all_order') }}" method="POST">
                  <input type="hidden" id="check" name="check" value="{{ order.checked }}" />
                  {# <label for="check" class="mb-2 fw-bold">
									{% if order.checked ? "Checked" : "Unchecked" %}{% endif %}
								</label> #}
                  <input type="hidden" id="ido" name="txtido" value="{{ order.id }}" />
                  {% if order.checked == 1 %}
                    <button type="submit" class="btn btn-success" name="btnchecked" width="10" height="10"><i class="bi bi-check-lg"></i></button>
                  {% else %}
                    <button type="submit" class="btn btn-danger" name="btnchecked"><i class="bi bi-x-lg"></i></button>
                  {% endif %}
                </form>
              </td>
              <td class="text-center">
                <a href="{{ path('delete_order', { id: order.id }) }}" onclick="return confirm('Are you sure to delete!')"><i class="bi bi-trash-fill" style="color: red;"></i></a>
              </td>
            </tr>
            {% set count = count + 1 %}
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="6" class="text-center fw-bold">Order list is empty</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    <div class="pagination justify-content-center mt-3">{{ knp_pagination_render(orders, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}</div>
  </div>
{% endblock %}
